<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mad med Omtanke</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">

</head>
<body>
    
    <nav>
        <a href="/forside">forside</a>    
        <a href="/login">Login</a>
        <a href="/mad">Mad</a>
        <a href="/om-os">Om os</a>
        <a href="/MissionVision">Mission og Vision</a>
        <a href="/verdensmaal">FN's Verdensmål</a>


    </nav> 
    <section class="hero">
    <div class="hero-content">
        <h1>Mad med Omtanke</h1>
        <p>En virksomhed med fokus på god mad, bæredygtighed og ansvarlige valg.</p>
        <a href="/mad" class="btn">Se vores mad</a>
    </div>
</section>
    
</body>
</html>

