<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mad</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">

</head>
<body class="mad-side"> 
    
    <nav>
        <a href="/forside">Forside</a>    
        <a href="/login">Login</a>
        <a href="/mad">Mad</a>
        <a href="/om-os">Om os</a>
        <a href="/MissionVision">Mission og Vision</a>
        <a href="/verdensmaal">FN's Verdensmål</a>
    </nav>
    <section class="hero">
    <div class="hero-content">
        <h1>Mad med omtanke</h1>
        <p>Friske råvarer, bæredygtige valg og mad lavet med ansvar for både mennesker og miljø.</p>
        <a href="/verdensmaal" class="btn">Læs om bæredygtighed</a>
    </div>
    </section>
    </body>
</html>

