<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission og Vision</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">

</head>
<body>
    
    <nav>
        <a href="/forside">Forside</a>    
        <a href="/login">Login</a>
        <a href="/mad">Mad</a>
        <a href="/om-os">Om os</a>
        <a href="/MissionVision">Mission og Vision</a>
        <a href="/verdensmaal">FN's Verdensmål</a>
    </nav>
    <section class="hero">
    <div class="hero-content">
        <h1>Mission og Vision</h1>
        <p>Vores mission er at levere mad med kvalitet og ansvar. Vores vision er at inspirere til mere bæredygtige valg.</p>
    </div>
    </section>
    </body>
</html>


