<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om os</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">

</head>
<body>
    
    <nav>
        <a href="/forside">Forside</a>    
        <a href="/login">Login</a>
        <a href="/mad">Mad</a>
        <a href="/om-os">Om os</a>
        <a href="/MissionVision">Mission og Vision</a>
        <a href="/verdensmaal">FN's Verdensmål</a>
        </nav>

    <section class="hero">
    <div class="hero-content">
        <h1>Om os</h1>
        <p>Vi arbejder for at skabe madoplevelser med omtanke for mennesker, miljø og fremtid.</p>
    </div>
    </section>
    </body>
</html>


