<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FN's Verdensmål</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">

</head>
<body class="verdensmaal-side">
    
    <nav>
        <a href="/forside">forside</a>    
        <a href="/login">Login</a>
        <a href="/mad">Mad</a>
        <a href="/om-os">Om os</a>
        <a href="/MissionVision">Mission og Vision</a>
        <a href="/verdensmaal">FN's Verdensmål</a>
    </nav>

    <section class="hero">
    <div class="hero-content">
        <h2>Vores bidrag til FN’s verdensmål: Ansvarligt Forbrug og Produktion

        <p>Vi støtter bæredygtig udvikling gennem fokus på ansvarligt forbrug, klima og madspild.</p>
        
        <p>Vi arbejder aktivt for at sikre, at vores virksomhed opererer etisk og miljøbevidst.

        <p>Dette skaber en positiv effekt for samfundet, understøtter ansvarligt ressourceforbrug og bidrager til en mere bæredygtig fremtid for kommende generationer</p>
        </p>
    </h2>


            
</div>
    </section>
    </body>
</html>




